[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
ExecStart=/whatismyip/whatismyip

[Install]
WantedBy=multi-user.target